$dark-color: hsl(216, 12%, 8%);
$card-color:  hsl(213, 19%, 18%);

$primary-color: hsl(25, 97%, 53%);
$light-grey-color: hsl(217, 12%, 63%);
$medium-grey-color: hsl(216, 12%, 54%);
$light-color: hsl(0, 0%, 100%);

$mobile: 375px;
$desktop: 1440px;
